@model Quotation
@{
    ViewBag.Title = "Create Quotation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-6">
                            <h4 class="header-title m-t-0">Create Project</h4>
                            <div class="p-20">
                                @using (Html.BeginForm("QuotationsCreate", "Admin", FormMethod.Post))
                                {

                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group row">
                                        <label class="col-sm-4 form-control-label">Project<span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(model => model.ProjectID, (IEnumerable<SelectListItem>)ViewBag.Prolist, "Select Project", new { @class = "form-control" })
                                        </div>
                                    </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Reference No<span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                @Html.TextBoxFor(model => model.ReferenceNo, new { @placeholder = "Reference #", @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Date<span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @required = "required", @placeholder = "mm/dd/yyyy", @id = "datepicker-autoclose" })
                                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Attention<span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                @Html.TextBoxFor(model => model.Attention, new { @placeholder = "Attention", @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.Attention, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Subject<span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                @Html.TextBoxFor(model => model.Subject, new { @placeholder = "Subject", @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Sender<span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                @Html.TextBoxFor(model => model.Sender, new { @placeholder = "Sender", @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.Sender, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 form-control-label">Body<span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                @Html.TextAreaFor(model => model.Body, 3, 6, new { @placeholder = "Body", @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-8 col-sm-offset-4">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                    Create Quotation
                                                </button>
                                            </div>
                                        </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
