@model IEnumerable<Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int n = 0;
}

<div class="content">
    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                    <div class="p-20">
                        <table class="table table-inverse">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Contact #</th>
                                    <th>Designation</th>
                                    <th>Address</th>
                                    <th>Payment Details</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    {
                                        n += 1;
                                    }
                                    <tr>
                                        @Html.HiddenFor(model => item.EmployeeID)
                                        <th scope="row">@n</th>
                                        <td>@item.Name</td>
                                        <td>@item.ContactNo</td>
                                        <td>@item.Designation</td>
                                        <td>@item.Address</td>
                                        <td><a href="@Url.Action("PaymentList", "Payments", new { id = item.EmployeeID })"><i class="fa-2x ion-edit"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>